@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-fade {
    animation: animate-fade 300ms ease 1;
  }
}

@keyframes animate-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
